/*
    _hero.scss
    Homepage hero
    overlay text on image
*/
@use "_text.scss" as *;
@use "../_mixins.scss" as *;

.hero {
  display: grid;
  grid-column: full-width;
  @include mq(small) {
    grid-column: content;
  }
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: flex-end;
  > * {
    grid-column: 1;
    grid-row: 1;
  }
  h1 {
    @include baseFun($bounce: 60);
    color: var(--white);
    padding: 0 1em;

    transform-origin: left;
    justify-self: self-start;
    font-weight: 600;
    font-size: 1.5rem;
    @include mq(medium) {
      transform: rotate(-11deg);
      font-size: 4rem;
    }
  }
  img {
    border-radius: 1em;
  }
}
