---
// layout
import MainPageWrapper from "@/layouts/MainPageWrapper.astro";

//components
import Hero from "@/components/Hero.astro";
import Lede from "@/components/Lede.astro";
import Skewgallery from "@/components/Skewgallery.astro";
import BikesList from "@/components/BikesList.astro";
import AboutBlock from "@/components/AboutBlock.astro";
import { getCollection } from "astro:content";

// just the builds
// const bikes = await getCollection("bikes", (entry) => entry.data.type?.includes("Build"));

const bikes = await getCollection("bikes");


---

<MainPageWrapper title="Marteal Cycle Works" description="Custom bicycle paint and builds by Marteal Cycle Works. We make your bike beautiful.">

  <section id="hero">
    <Hero />
  </section>

  <section id="lede" class="primary-layout">
    <Lede />
  </section>

  <section id="gallery" class="primary-layout">
    <Skewgallery bikes={bikes} />
  </section>

  <section id="bikes" class="primary-layout">
    <BikesList bikes={bikes} />
  </section>

  <section id="about" class="primary-layout">
    <AboutBlock />
  </section>

</MainPageWrapper>
