---
// layout
import MainPageWrapper from "@/layouts/MainPageWrapper.astro";

//components
import Hero from "@/components/Hero.astro";
import Lede from "@/components/Lede.astro";
---

<MainPageWrapper title="Marteal Cycle Works">
  <Hero />
  <Lede />

  <!-- <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
    perferendis quo modi, ratione dolore aliquam, quis soluta beatae maxime
    totam fugiat, odio aperiam! Accusamus possimus tenetur sequi, sapiente ab
    velit, repellendus ducimus minus maiores delectus, saepe nulla maxime
    numquam minima dolor. Omnis provident eaque doloribus harum in voluptas
    itaque. Nemo!
  </p> -->
  <!-- bikes -->
  <!-- about -->
</MainPageWrapper>
