/* 
    Name: _tables
    Descr: Styles the main page tables
*/

table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    th{
         border: 1px solid var(--gray-100);
         padding: .5rem 1rem;
    }
    td{
        padding: .5rem;
        border: 1px solid var(--gray-100);
        &:first-of-type{
            padding-right: 1rem;
        }
        &:last-of-type{
            //padding-left: 1rem;
            width: 20%;
            text-align: center;
        }
    }
}