/*
    main vars for MCW
*/
:root {
  interpolate-size: allow-keywords;

  //colors
  --teal: hsl(180 44 41 / 100);
  --blue: hsl(198 72 62 / 100);
  --yellow: hsl(61 91 62 / 100);
  --red: hsl(0 51 55 / 100);

  --black: hsl(0 0 16 / 100);
  --white: hsl(0 0 100 / 100);
  --gray-100: hsl(0 0 97 / 100);
}
