---
// AboutBlock.astro
---

<div class="about-block">
  <h2>What's this all about?</h2>
  <div class="about-block__content">
    <p>Marteal Cycleworks is founded on the belief that everyone deserves to experience joy, adventure, and wonder on a bike, and that every cyclist, whether an avid racer, an occasional tourer, or a total beginner deserves to be valued and respected as a person, a cyclist and a customer.</p>
    <p>I have been an active cyclist since saving lawn-mowing money and buying my first bicycle in 1990.  As years and bicycles went by, I always had a feeling that my lack of racing, or long-distance touring or mechanic level understanding of how bicycles worked was a barrier to me connecting with bicycling resources available to me. </p>
    <h3>Some twists and turns</h3>
    <p>In 2019 I got the hair-brained idea to learn how to build bicycle frames from scratch. I made a big commitment and went to The Bicycle Academy in England to take a frame building course. I loved it. I came home and started Marteal Cycle Works with grand dreams. Turns out, building frames is wildly hard and time consuming. It is virtually impossible to justify the time and investment when you have a job and other priorities. So the tools collected dust, and the decision was made to leave the building to the professionals.</p>
    <h3>Not all was lost...</h3>
    <p>However, I really enjoyed painting bicycles, and it doesn’t take nearly as long. </p>
    <p>
Let’s face it, most factory bike paint jobs are boring, uninspired and generic. There are obvious reasons for this, but the fun fact of the day is, you don’t have to be part of the crowd.</p>
 
 



  </div>
</div>

<style lang="scss">
  .about-block {
    padding-block: 4em;

    &__content {
      max-width: 65ch;
    }
  }
</style>
