---
import { Image } from "astro:assets";
import GreenmanSideFull from "../assets/Greenman-frame.jpg";
// Hero.astro
// big picture and a fun heading
---

<div class="hero m-bottom-4">
  <Image src={GreenmanSideFull} alt="Greenman" width={1600} ; />
  <h1 class="fun">Let's make bikes you'll love!</h1>
</div>
