---
//Lede.astro
//the cute litte feature text
---

<div class="lede">
  <p>
    You already love <em>riding your bike</em>, now <strong
      class="fun fc-red swooshy">love your bike</strong
    >. A custom paint jobe is fun and will bring a smile to your face on every
    ride.
  </p>
  <div class="little-bike">
    <svg
      width="63"
      height="39"
      viewBox="0 0 63 39"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.9751 2.24158L18.4765 12.386M18.4765 12.386L24.3038 36.0191C24.4766 36.7198 23.873 37.3671 23.162 37.2438L2.70347 33.6949C1.9457 33.5634 1.61376 32.6615 2.10555 32.0702L18.4765 12.386ZM51.6224 10.3459L58.7486 30.6743L61 33.2656M25.9437 36.7602L51.5249 12.0846C51.7943 11.8247 51.896 11.4361 51.7884 11.0775L49.3572 2.97326C49.1967 2.4383 48.6291 2.13849 48.0968 2.30749L19.5101 11.3826C19.0139 11.5401 18.7216 12.0519 18.8379 12.5593L24.2748 36.264C24.4487 37.0223 25.3838 37.3003 25.9437 36.7602Z"
        stroke-width="3"
        stroke-linecap="round"></path>
    </svg>
  </div>
</div>
