---
import { Image } from "astro:assets";
import GreenmanSideFull from "../assets/Greenman-frame.jpg";
---

<div class="gallery m-block-3">
  <div class="image">
    <Image src={GreenmanSideFull} alt="Greenman" width={1600} ; />
  </div>
  <div class="image">
    <Image src={GreenmanSideFull} alt="Greenman" width={1600} ; />
  </div>
  <div class="image">
    <Image src={GreenmanSideFull} alt="Greenman" width={1600} ; />
  </div>
</div>
