---
import type { CollectionEntry } from "astro:content";
import Hero from "@/components/Hero.astro";

interface Props {
  bikes: CollectionEntry<"bikes">[];
}

const { bikes } = Astro.props;
const featuredBikes = bikes.slice(0, 3);
---

{featuredBikes.length > 0 && (
  <div class="gallery m-block-3">
    {featuredBikes.map((bike) => (
      <a href={`/bikes/${bike.id}`} class="image">
        <Hero
          image={bike.data.cover}
          title={bike.data.name}
          alt={bike.data.name}
        />
      </a>
    ))}
  </div>
)}

<style lang="scss">
  .gallery {
    display: grid;

    @media only screen and (min-width: 580px) {
      grid-template-columns: repeat(5, minmax(100px, 1fr));
      align-items: center;
    }

    .image {
      display: block;
      grid-column: span 2;
      transition: all 250ms;
      text-decoration: none;

      @media only screen and (min-width: 580px) {
        grid-row: 1;
      }
    }

    :global(.hero h1) {
      font-size: 1.5rem;
    }

    img {
      object-fit: cover;
      border-radius: 1em;
      display: block;
    }

    .image:nth-of-type(1) {
      @media only screen and (min-width: 580px) {
        grid-column: 1 / span 2;
      }

      filter: drop-shadow(0.5em 0.5em var(--teal));
      transform: skew(2deg, 4deg);
      transform-origin: left;
    }

    .image:nth-of-type(2) {
      @media only screen and (min-width: 580px) {
        grid-column: 2 / span 3;
      }

      filter: drop-shadow(0.5em 0.5em var(--yellow));
      transform: skew(-2deg, -4deg);
      z-index: 11;

      img {
        border-radius: 1em 2em 1em 2em;
      }
    }

    .image:nth-of-type(3) {
      @media only screen and (min-width: 580px) {
        grid-column: 4 / span 2;
      }

      filter: drop-shadow(0.5em 0.5em var(--blue));
      transform: skew(4deg, 2deg);
      transform-origin: right;
    }

    @media only screen and (min-width: 580px) {
      .image:hover {
        transform: skew(0, 0);
        z-index: 100;
        transform: scale(1.12);
        filter: drop-shadow(-0.5em 0.5em var(--red));

        img {
          border-radius: 1em;
        }
      }

      &:hover > a img {
        filter: brightness(0.5) saturate(0.5);
      }

      & > a:hover img {
        filter: brightness(1) saturate(1.5);
      }
    }
  }
</style>
