---
import Head from "@/layouts/Head.astro";
import SiteFooter from "@/layouts/SiteFooter.astro";
import SiteHeader from "@/layouts/SiteHeader.astro";
---

<html lang="en">
  <Head {...Astro.props} />
  <body>
    <div class="wrapper primary-layout">
      <SiteHeader />
      <main class="primary-layout bleed">
        <slot />
      </main>
      <SiteFooter />
    </div>
  </body>
</html>
